<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <% if (user) { %>
    <p>Welcome, <%= user.username %></p>
    <a href="/users/<%= user.id %>">My Profile</a>
    <a href="/explore">Explore</a>
    <a href="/create-post">Create a new Post</a>
    <a href="/auth/signout">Sign Out</a>

    <h2>Posts from Followed Users</h2>
    <ul>
      <% followedUsersPosts.forEach(post => { %>
      <li>
        <p>
          <a href="/users/<%= post.user.id %>"><%= post.user.username %></a>
        </p>
        <small><%= new Date(post.createdAt).toDateString() %></small>
        <p><%= post.content %></p>
        <% if (post.imageUrl) { %>
        <img src="<%= post.imageUrl %>" alt="Post Image" />
        <% } %>
        <form
          action="/posts/<%= post.id %>/like"
          method="POST"
          class="like-post-form"
        >
          <button type="submit" class="like-button">
            <%= post.liked ? 'Unlike' : 'Like' %>
          </button>
          <a class="likes-count" href="/posts/<%= post.id %>/likes"
            ><%= post.likes.length %></a
          >
        </form>
        <% if (post.userId === user.id) { %>
        <a href="/posts/<%= post.id %>/edit">Edit</a>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <% } %>
        <h3>Comments</h3>
        <ul class="comments-list">
          <% post.comments.forEach(comment => { %>
          <li>
            <a href="/users/<%= comment.user.id %>"
              ><h4><%= comment.user.username %></h4></a
            >
            <p><%= comment.content %></p>
            <small><%= new Date(comment.createdAt).toDateString() %></small>
            <form
              action="/posts/<%= post.id %>/comments/<%= comment.id %>/like"
              method="POST"
              class="like-comment-form"
            >
              <button type="submit" class="like-button">
                <%= comment.liked ? 'Unlike' : 'Like' %>
              </button>
              <a
                class="likes-count"
                href="/posts/<%= post.id %>/comments/<%= comment.id %>/likes"
                ><%= comment.likes.length %></a
              >
            </form>

            <% if (comment.user.id === user.id) { %>
            <form
              action="/posts/<%= post.id %>/comments/<%= comment.id %>?_method=DELETE"
              method="POST"
              class="delete-comment-form"
            >
              <button type="submit">Delete</button>
            </form>

            <% } %>
          </li>
          <% }) %>
        </ul>
        <form
          action="/posts/<%= post.id %>/comments"
          method="POST"
          class="comment-form"
        >
          <textarea name="content" placeholder="Add a comment..."></textarea>
          <button type="submit">Comment</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <% } %>
  </body>
  <script type="text/javascript" charset="utf-8" src="/js/comment.js"></script>
  <script
    type="text/javascript"
    charset="utf-8"
    src="/js/toggleLike.js"
  ></script>
</html>
