<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <h1><%= user.username %></h1>
    <h3><%= user.email %></h3>
    <p>
      Followers:
      <a href="/users/<%= user.id %>/followers"><%= followersCount %></a>
    </p>
    <p>
      Following:
      <a href="/users/<%= user.id %>/following"><%= followingCount %></a>
    </p>
    <h2>Posts</h2>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <small>Posted on <%= post.createdAt.toDateString() %></small>
        <h3>Comments</h3>
        <ul class="comments-list">
          <% post.comments.forEach(comment => { %>
          <li>
            <a href="/users/<%= comment.user.id %>"><h4><%= comment.user.username %></h4></a>
            <p><%= comment.content %></p>
            <small><%= comment.createdAt.toDateString() %></small>
          </li>
          <% }) %>
        </ul>
        <form action="/posts/<%= post.id %>/comments" method="POST" class="comment-form">
          <textarea name="content" placeholder="Add a comment..."></textarea>
          <button type="submit">Comment</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <a href="/">Back to Home</a>
  </body>
  <script type="text/javascript" charset="utf-8" src="/js/comment.js"></script>
</html>
