<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <h1><%= user.username %></h1>
    <h3><%= user.email %></h3>
    <p>
      Followers:
      <a href="/users/<%= user.id %>/followers"><%= followersCount %></a>
    </p>
    <p>
      Following:
      <a href="/users/<%= user.id %>/following"><%= followingCount %></a>
    </p>

    <a href="/">Back to Home</a>
  </body>
</html>
